<% content_for :title do %>
Ver partida
<% end %>
<p>
  <b>Codigo:</b>
  <%=h @partida.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @partida.nombre %>
</p>


<%= link_to 'editar', edit_partida_path(@partida) %> |
<%= link_to 'atras', partidas_path %>
