body {
  padding: 0px;
  margin: 0px;
  background: #262626;
  color: #ffffff;
}
body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
ol {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
a {
  color: #f58f17;
  text-decoration: underline;
  cursor: pointer;
}
a:hover {
  color: #3fb2ff;
  text-decoration: none;
}
#flashNotice {
  color: #f58f17;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: underline;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}
td .fieldWithErrors { display: block !important; }
#errorExplanation {
  width: 400px;
  border: 2px solid #ff0000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 2px solid #ff0000;
}
#errorExplanation p {
  margin-bottom: 0;
  padding: 5px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
table { border-collapse: collapse; }
th {
  border: 1px solid #8f8f8f;
  padding: 3px 4px;
}
td {
  border: 1px solid #8f8f8f;
  padding: 3px 4px;
}
input {
  padding: 2px 3px;
  background: #000000;
  border: 1px solid #666666;
  color: #ffffff;
}
select {
  padding: 2px 3px;
  background: #000000;
  border: 1px solid #666666;
  color: #ffffff;
}
textarea {
  padding: 2px 3px;
  background: #000000;
  border: 1px solid #666666;
  color: #ffffff;
}
label { vertical-align: top; }
div#cont {
  padding: 10px;
  text-align: left;
  margin: auto;
}
ul#navigation {
  height: 28px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  background: #000000;
}
ul#navigation li {
  display: inline;
  float: left;
}
ul#navigation li a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 7px;
  border-right: 1px solid #666666;
}
ul#navigation li a:hover { background: #5f5f5f !important; }
