<% unless @solicitud.aprobaciones.nil? %>
  <h3>Detalle de modificaciones al estado de la Solicitud</h3>
  <fieldset>
    <legend>Aprobaciones anteriores</legend>
    <% @solicitud.lista_aprobaciones.each do |v| %>
      <p>
      <i><%= v[:fecha] %></i>
      <strong><%= v[:usuario] %></strong>
      <span class="resaltar"><%= v[:estado] %></span>
      </p>
    <% end %>
  </fieldset>
<% else %>
  <h3>No se han realizado modificaciones al estado</h3>
<% end %>
