<% content_for :title do %>
Solicitudes
<% end %>

<h1>Solicitudes</h1>

<% #En este caso solo presenta si que es un superior o mayor %>
<% if @aprobar %>
<br/><br/>
<% end %>

<!--Div ustilizado para AJAX-->
<div id="buscar">
  <%= render :partial => "index_#{@partial}" %>
</div>
<br />

<%= link_to 'Nueva solicitud', new_solicitud_path %>
<script type="text/javascript">
$(document).ready(function() {
  $('input[type=radio]').click(function() {
    //$('#buscar').load('/solicitudes', {tipo: this.value}); // Cuando se carga con parametros realiza un POST y no GET
    $.get('/solicitudes', {tipo: this.value}, function(data) { $('#buscar').html(data); });
  });
});
</script>
