<% content_for :title do %>
Ver Solicitud
<% end %>
<h1>Ver solicitud Detalle</h1>

<table>
  <tr>
    <th class="ui-state-default">Item</th>
    <th class="ui-state-default">Cantidad</th>
     </tr>

<% @solicitud.solicitud_detalles.each do |inv| %>
  <tr>
    <td><%=h inv.item %></td>
    <td><%=h inv.cantidad %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'Listado', solicitudes_path(@solicitud, :page => @page) %> |
<%= link_to 'Editar', edit_solicitud_path(@solicitud, :page=>@page) %>
