<% content_for :title do %>
Roles
<% end %>
<h1>Roles</h1>

<table>
  <tr>
    <th class="ui-state-default">Rol</th>
    <th class="ui-state-default"></th>
  </tr>


  <% for rol in @roles do %>
  <tr>
    <td><%= rol.to_s.classify  %></td>
    <td><%= link_to "editar", edit_rol_path(rol) %>
    <%= link_to "borrar", rol, :confirm => "Esta seguro?", :method => :delete %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to 'Crear Rol', new_rol_path %>
