<% content_for :title do %>
Ver rol
<% end %>
<ul>
<% @controllers.each do |cont| %>
  <li><%= cont[0] %>
    <ul>
      <% cont[1].each do |act| %>
      <li><%= act %></li>
      <% end %>
    </ul>
  </li>

<% end %>
</ul>

